
@media screen and (min-width:1200px) {
    h2 {
        font-size: 2em;
    }

}

html {
    font-size: 1em;

}

h2 {
    font-size: 2em;

}


.flex-container {
    display: flex;
    flex-wrap: wrap;
}

body  {
    font-size: 14px;
}

*.container {
    max-width: 100%;
    margin: 0;
}
* {

    margin: 0;
    padding: 0;
     border: 0;
font-size: 16px;
vertical-align: baseline;
}

body

{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 60vh !important;
    background: url(../Imagenes/soporte\ tencio.jpeg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 60px;
    font-size: 1 em;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
}

p {
    margin-bottom: 40px;
    font-size: 28px;
    color: rgb(8, 8, 8);
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #45b9c2;
    color: #232323;
    text-decoration: none;
    background: #eb8dac;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;

}

.head {
    display: flex;
    align-items: center;
justify-content: space-between;
height: 63px;
background:#816b91 ;
position: fixed;
width: 100%;
z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 80px;
    font-weight: bold;
}

.logo {
    margin-right: 30px;
}

.logo a {
    text-decoration: none;
    color: #030303;
    text-transform: uppercase;
    font-size: 20px;

}

.navbar a {
    display: block;
    padding: 20 px 20px;
    color: #070707;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;

}

.navbar a:hover {
    background: #565c5e;
}

.content {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #87b6be;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 10rem;
    width: 15rem;
    background: #816b91;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 3rem 6rem;
    margin: 2rem;
}

.box-container .box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 20%;
    color:rgb(154, 112, 194);
    background: #87b6be;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #030303;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about  {
background: #5e949e;
}

.price {
    background: url(../Imagenes/contacto.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact {
padding-top: 20px;
background: #87b6be;
padding-bottom: 0;
}

.content-head {
    background-image: url(../Imagenes/Inicio.webp);
    background-size: cover; 
    background-attachment: fixed;
    text-align: center;
}
